:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #91D9C4;
  --secondary: #014034;
  --accent: #F24C3D;



  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #91D9C4;
  padding-left: 2rem;
  padding-right: 2rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background-color: var(--primary);
  margin-bottom: 10rem;
}

.formimp {
  width: 10rem;
  background-color: white;
  border: none;
  padding: 0.4rem;
  border-radius: 4px;
  margin: 0.2rem;
  color: grey;
}

.post-body {
  width: 20rem;
  background-color: white;
  border: none;
  padding: 0.4rem;
  border-radius: 4px;
  margin: 0.2rem;
}

.post-card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;




}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: #f9f9f9;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hero {
  margin: auto;
  text-align: center;
  padding-top: 8rem;
  color: white;
}

.listMenu {
  margin: auto;
  width: 30%;
  text-align: center;
}

.listMenu li {

  color: white;
  text-decoration: none;
  width: 10rem;
  padding: 1rem;
  margin: 1rem;

  background-color: var(--primary);
  display: inline;



}

a:hover {
  color: var(--accent);
}

h1 {
  font-size: 6rem;
  line-height: 1.1;
  color: #ffffff;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
  color: #ffffff;
}

p {
  color: var(--secondary);
  font-size: 1.2rem;
}

.Bform {
  margin: auto;
  width: 30%;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.form-group {

  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--secondary);

}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }


}